.bg-gradient {
  background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(209,209,209,1) 50%, rgba(173,173,173,1) 100%);
}

.font-title {
  font-family: 'Arial Black', sans-serif;
}

.button-center {
  margin: 0 auto;
  display: block;
}

.dishes-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dish {
  flex: 1;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .dishes-container {
      flex-direction: column;
  }
  .dish {
      margin-bottom: 1rem;
  }
}

/* For the card title */
.dish-card-title {
  font-size: 1.5rem; /* Larger text size but smaller than page header */
  text-transform: capitalize;
}

/* For the dish name */
.dish-card-dish-name {
  font-size: 1.25rem; /* Medium text size */
  text-align: center;
}

/* For the ingredients */
.dish-card-ingredients {
  font-size: 1rem; /* Smallest text size */
}

.ingredient-list {
  list-style-type: none; /* This removes the bullet points */
  padding-left: 20px;
}

.ingredient-item {
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}

.btn-refresh {
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  cursor: pointer; /* Hand cursor on hover */
}

.btn-refresh:hover {
  color: #f8f9fa; /* Light text color on hover */
}

.btn-outline-primary {
  border-color: #ef11bf;
  color: #ef11bf;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

